In [6]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
from collections import Counter
from itertools import combinations

In [72]:
data = pd.read_csv('movie_bd_v5.csv')
data.sample(5)

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year
1237,tt2387559,26000000,51164106,Delivery Man,Vince Vaughn|Cobie Smulders|Chris Pratt|Britt ...,Ken Scott,You're never quite ready for what life delivers.,An affable underachiever finds out he's father...,105,Comedy,DreamWorks SKG|Touchstone Pictures,10/10/2013,6.1,2013
1008,tt1482459,70000000,348840316,The Lorax,Zac Efron|Danny DeVito|Taylor Swift|Ed Helms|R...,Chris Renaud|Kyle Balda,Meet The Original Force Of Nature,A 12-year-old boy searches for the one thing t...,86,Animation|Family,Universal Pictures|Illumination Entertainment,3/1/2012,6.3,2012
852,tt1640484,6600000,37710610,Jumping the Broom,Paula Patton|Julie Bowen|Meagan Good|Mike Epps...,Salim Akil,Sometimes the only way to get past family dram...,Two very different families converge on Martha...,112,Comedy,TriStar Pictures|Stage 6 Films|Sony Pictures W...,5/6/2011,6.3,2011
1012,tt1707386,61000000,441809770,Les MisÃ©rables,Hugh Jackman|Russell Crowe|Anne Hathaway|Amand...,Tom Hooper,Fight. Dream. Hope. Love.,An adaptation of the successful stage musical ...,157,Drama|Music|Romance,Universal Pictures|Relativity Media|CAMERON MA...,12/18/2012,7.0,2012
1175,tt0339034,12000000,4922166,From Justin to Kelly,Kelly Clarkson|Justin Guarini |Brandon Hensche...,Robert Iscove,The tale of two American Idols.,"A lonely, sexually repressed man. A depressed ...",90,Comedy|Romance,20th Century Fox,6/20/2003,3.5,2003

In [8]:
data.describe()

             budget       revenue      runtime  vote_average  release_year
count  1.889000e+03  1.889000e+03  1889.000000   1889.000000   1889.000000
mean   5.431083e+07  1.553653e+08   109.658549      6.140762   2007.860773
std    4.858721e+07  2.146698e+08    18.017041      0.764763      4.468841
min    5.000000e+06  2.033165e+06    63.000000      3.300000   2000.000000
25%    2.000000e+07  3.456058e+07    97.000000      5.600000   2004.000000
50%    3.800000e+07  8.361541e+07   107.000000      6.100000   2008.000000
75%    7.200000e+07  1.782626e+08   120.000000      6.600000   2012.000000
max    3.800000e+08  2.781506e+09   214.000000      8.100000   2015.000000

# Предобработка

In [9]:
answers = {} # создадим словарь для ответов

In [10]:

# тут другие ваши предобработки колонок например:

#the time given in the dataset is in string format.
#So we need to change this in datetime format

data.release_date = pd.to_datetime(data.release_date)
data['profit'] = data.revenue - data.budget
data['month'] = data['release_date'].dt.month
data.info()
data.sample(5)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1889 entries, 0 to 1888
Data columns (total 16 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   imdb_id               1889 non-null   object
 1   budget                1889 non-null   int64
 2   revenue               1889 non-null   int64
 3   original_title        1889 non-null   object
 4   cast                  1889 non-null   object
 5   director              1889 non-null   object
 6   tagline               1889 non-null   object
 7   overview              1889 non-null   object
 8   runtime               1889 non-null   int64
 9   genres                1889 non-null   object
 10  production_companies  1889 non-null   object
 11  release_date          1889 non-null   datetime64[ns]
 12  vote_average          1889 non-null   float64
 13  release_year          1889 non-null   int64
 14  profit                1889 non-null   int64
 15  month                 1889 non-null   int64
dtypes: datetime64[ns](1), float64(1), int64(6), object(8)
memory usage: 236.2+ KB

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year,profit,month
1232,tt1931435,35000000,21819348,The Big Wedding,Robert De Niro|Diane Keaton|Katherine Heigl|Am...,Justin Zackham,It's never too late to start acting like a family,To the amusement of their adult children and f...,90,Comedy,Millenium Films|Two Ton Films,2013-04-25,5.6,2013,-13180652,4
810,tt1478964,14350531,3964682,Attack the Block,Nick Frost|Jodie Whittaker|John Boyega|Luke Tr...,Joe Cornish,Inner City vs. Outer Space,A teen gang in a grim South London housing est...,88,Action|Comedy|Science Fiction,UK Film Council|Studio Canal|Film4,2011-05-12,6.4,2011,-10385849,5
1152,tt0269347,55000000,34234008,The Hunted,Tommy Lee Jones|Benicio del Toro|Connie Nielse...,William Friedkin,Some men should not be found.,"In the wilderness of British Columbia, two hun...",94,Drama|Action|Thriller|Crime,Lakeshore Entertainment|Alphaville Films,2003-03-11,5.8,2003,-20765992,3
737,tt0433035,110000000,299268508,Real Steel,Hugh Jackman|Dakota Goyo|Evangeline Lilly|Anth...,Shawn Levy,"If you get one shot, make it real.","In the near-future, Charlie Kenton is a washed...",127,Action|Science Fiction|Drama,DreamWorks SKG|21 Laps Entertainment|Reliance ...,2011-09-28,6.5,2011,189268508,9
1060,tt1712170,45000000,30353232,Alex Cross,Tyler Perry|Rachel Nichols|Jean Reno|Matthew F...,Rob Cohen,Don't Ever Cross Alex Cross,After Washington DC detective Alex Cross is to...,101,Action|Thriller|Crime|Mystery,Summit Entertainment,2012-10-18,5.2,2012,-14646768,10

# 1. У какого фильма из списка самый большой бюджет?

Использовать варианты ответов в коде решения запрещено.    
Вы думаете и в жизни у вас будут варианты ответов?)

In [12]:
# в словарь вставляем номер вопроса и ваш ответ на него
# Пример: 
# answers['1'] = '2. Spider-Man 3 (tt0413300)'
# запишите свой вариант ответа
answers['1'] = '723. Pirates of the Caribbean: On Stranger Tides  (tt1298650)'
# если ответили верно, можете добавить комментарий со значком "+"

In [11]:
# тут пишем ваш код для решения данного вопроса:
question_1 = data[data.budget == data.budget.max()]
print(question_1[['original_title','imdb_id']])

                                  original_title    imdb_id
723  Pirates of the Caribbean: On Stranger Tides  tt1298650

ВАРИАНТ 2

In [13]:
# можно добавлять разные варианты решения
question_1_2 = data.query('budget == budget.max()')
print(question_1_2[['original_title','imdb_id']])

                                  original_title    imdb_id
723  Pirates of the Caribbean: On Stranger Tides  tt1298650

# 2. Какой из фильмов самый длительный (в минутах)?

In [15]:
# думаю логику работы с этим словарем вы уже поняли, 
# по этому не буду больше его дублировать
answers['2'] = '1157.  Gods and Generals  (tt0279111)'

In [14]:
question_2 = data[data.runtime == data.runtime.max()]
print(question_2[['original_title','imdb_id']])

         original_title    imdb_id
1157  Gods and Generals  tt0279111

# 3. Какой из фильмов самый короткий (в минутах)?

In [16]:
# find the answer
question_3 = data[data.runtime == data.runtime.min()]
print(question_3[['original_title','imdb_id']])

      original_title    imdb_id
768  Winnie the Pooh  tt1449283

In [17]:
# edit the answers dictionary 
answers['3'] = '768.  Winnie the Pooh  (tt1449283)'

# 4. Какова средняя длительность фильмов?

In [18]:
# find the answer
question_4 = data.runtime.mean()
round(question_4, 0)

110.0

In [19]:
# edit the answers dictionary 
answers['4'] = round(question_4, 0)

# 5. Каково медианное значение длительности фильмов?

In [20]:
# find the answer
question_5 = data.runtime.median()
round(question_5, 0)

107.0

In [21]:
# edit the answers dictionary 
answers['5'] = round(question_5, 0)
answers

{'1': '723. Pirates of the Caribbean: On Stranger Tides  (tt1298650)',
 '2': '1157.  Gods and Generals  (tt0279111)',
 '3': '768.  Winnie the Pooh  (tt1449283)',
 '4': 110.0,
 '5': 107.0}

# 6. Какой самый прибыльный фильм?
#### Внимание! Здесь и далее под «прибылью» или «убытками» понимается разность между сборами и бюджетом фильма. (прибыль = сборы - бюджет) в нашем датасете это будет (profit = revenue - budget)

In [22]:
# find the answer
question_6 = data[data.profit == data.profit.max()]
print(question_6[['original_title','imdb_id']])

    original_title    imdb_id
239         Avatar  tt0499549

In [23]:
# edit the answers dictionary 
answers['6'] = '239. Avatar  (tt0499549)'
answers

{'1': '723. Pirates of the Caribbean: On Stranger Tides  (tt1298650)',
 '2': '1157.  Gods and Generals  (tt0279111)',
 '3': '768.  Winnie the Pooh  (tt1449283)',
 '4': 110.0,
 '5': 107.0,
 '6': '239. Avatar  (tt0499549)'}

# 7. Какой фильм самый убыточный?

In [24]:
# find the answer
question_7 = data[data.profit == data.profit.min()]
print(question_7[['original_title','imdb_id']])

       original_title    imdb_id
1245  The Lone Ranger  tt1210819

In [25]:
# edit the answers dictionary 
answers['7'] = '1245. The Lone Ranger  (tt1210819)'
answers

{'1': '723. Pirates of the Caribbean: On Stranger Tides  (tt1298650)',
 '2': '1157.  Gods and Generals  (tt0279111)',
 '3': '768.  Winnie the Pooh  (tt1449283)',
 '4': 110.0,
 '5': 107.0,
 '6': '239. Avatar  (tt0499549)',
 '7': '1245. The Lone Ranger  (tt1210819)'}

# 8. У скольких фильмов из датасета объем сборов оказался выше бюджета?

In [26]:
# find the answer
question_8 = data[data.revenue > data.budget]

In [27]:
# edit the answers dictionary 
answers['8'] = len(question_8)
answers

{'1': '723. Pirates of the Caribbean: On Stranger Tides  (tt1298650)',
 '2': '1157.  Gods and Generals  (tt0279111)',
 '3': '768.  Winnie the Pooh  (tt1449283)',
 '4': 110.0,
 '5': 107.0,
 '6': '239. Avatar  (tt0499549)',
 '7': '1245. The Lone Ranger  (tt1210819)',
 '8': 1478}

# 9. Какой фильм оказался самым кассовым в 2008 году?

In [28]:
# find the answer
question_9 = data.copy()
question_9 = question_9[question_9.release_year == 2008]
question_9 = question_9[question_9.revenue == question_9.revenue.max()]
print(question_9[['original_title','imdb_id']])

      original_title    imdb_id
599  The Dark Knight  tt0468569

In [29]:
# edit the answers dictionary 

answers['9'] = '599. The Dark Knight (tt0468569)'
answers

{'1': '723. Pirates of the Caribbean: On Stranger Tides  (tt1298650)',
 '2': '1157.  Gods and Generals  (tt0279111)',
 '3': '768.  Winnie the Pooh  (tt1449283)',
 '4': 110.0,
 '5': 107.0,
 '6': '239. Avatar  (tt0499549)',
 '7': '1245. The Lone Ranger  (tt1210819)',
 '8': 1478,
 '9': '599. The Dark Knight (tt0468569)'}

# 10. Самый убыточный фильм за период с 2012 по 2014 г. (включительно)?

In [30]:
# find the answer
question_10 = data.copy().query('release_year in ["2012", "2013", "2014"] & profit == profit.min()')
print(question_10[['original_title','imdb_id']])

       original_title    imdb_id
1245  The Lone Ranger  tt1210819

In [31]:
# edit the answers dictionary 
answers['10'] = '1245. The Lone Ranger (tt1210819)'
answers

{'1': '723. Pirates of the Caribbean: On Stranger Tides  (tt1298650)',
 '2': '1157.  Gods and Generals  (tt0279111)',
 '3': '768.  Winnie the Pooh  (tt1449283)',
 '4': 110.0,
 '5': 107.0,
 '6': '239. Avatar  (tt0499549)',
 '7': '1245. The Lone Ranger  (tt1210819)',
 '8': 1478,
 '9': '599. The Dark Knight (tt0468569)',
 '10': '1245. The Lone Ranger (tt1210819)'}

# 11. Какого жанра фильмов больше всего?

In [32]:
# эту задачу тоже можно решать разными подходами, попробуй реализовать разные варианты
# если будешь добавлять функцию - выноси ее в предобработку что в начале

question_11 = data.copy()
# split the genres into separate rows
question_11['genres'] = question_11.genres.str.split('|')
# calculate number of rows with the same genres, sort & select the top one
question_11 = question_11.explode('genres').genres.value_counts().sort_values(ascending=False).index[0]
question_11

'Drama'

ВАРИАНТ 2

In [33]:
#try another way
# select only genres column, split into separate rows 
question_11_2 = data.copy().genres.str.split('|').explode()
# group by genre, calculate number of films(the same genre rows), sort & select the top one
question_11_2 = question_11_2.groupby(question_11_2.values).size().sort_values(ascending=False).index[0]
question_11_2
#type(question_11_2)

'Drama'

In [34]:
# edit the answers dictionary 
answers['11'] = question_11

# 12. Фильмы какого жанра чаще всего становятся прибыльными?

In [35]:
# find the answer
question_12 = data.copy()
# split the data into separate lines & filter profit > 0
question_12 = question_12.set_index(question_12.columns.difference(['genres']).tolist()).apply(lambda x: x.str.split('|').explode()).reset_index().query('profit > 0')
# calculate number of filmes per genre  in group & sort, select the top one
question_12 = question_12.groupby('genres').size().sort_values(ascending=False).index[0]
question_12

'Drama'

In [36]:
# another way to find the answer
question_12_2 = data.copy()
# split into separate lines in another way
question_12_2['genres'] = question_12_2.genres.str.split('|')
# calculate number of films per genre just calculating number of rows with the same genre, sort & select the top one
question_12_2 = question_12_2.explode('genres').query('profit > 0').genres.value_counts().sort_values(ascending=False).index[0]
question_12_2

'Drama'

In [37]:
# edit the answers dictionary 
answers['12'] = question_12

# 13. У какого режиссера самые большие суммарные кассовые сборы?

In [38]:
# find the answer
question_13 = data.copy()
question_13['director'] = question_13.director.str.split('|')
# make separate rows for each director,
question_13 = question_13.explode('director').groupby('director').sum().revenue.sort_values(ascending=False).index[0]
question_13

'Peter Jackson'

In [39]:
# edit the answers dictionary 
answers['13'] = question_13

# 14. Какой режисер снял больше всего фильмов в стиле Action?

In [40]:
# find the answer
question_14 = data.copy()
# split the data into separate lines 
question_14['director'] = question_14.director.str.split('|')
# make separate rows for each director, filter Action genres, calculate number of films per each director & sort values, select the top one
question_14 = question_14.explode('director').query('genres.str.contains("Action")', engine='python').groupby('director').size().sort_values(ascending=False).index[0]
question_14#.genres.unique()
#data.director.unique()

'Robert Rodriguez'

In [392]:
# find the  another way answer

question_14_2 = data.copy().query('genres.str.contains("Action")', engine='python')

# actually it doesn't work, can't find the way to explode multiple columns at once but with different number of arguments in lists
# hope you will tell me the answer

#question_14_2 = question_14_2.set_index(question_14_2.columns.difference(['genres', 'director']).tolist()).apply(lambda x: x.str.split('|').explode()).reset_index().reindex(question_14_2.columns, axis=1)
#question_14_2

ValueError: cannot handle a non-unique multi-index!

In [41]:
# edit the answers dictionary 
answers['14'] = question_14
answers

{'1': '723. Pirates of the Caribbean: On Stranger Tides  (tt1298650)',
 '2': '1157.  Gods and Generals  (tt0279111)',
 '3': '768.  Winnie the Pooh  (tt1449283)',
 '4': 110.0,
 '5': 107.0,
 '6': '239. Avatar  (tt0499549)',
 '7': '1245. The Lone Ranger  (tt1210819)',
 '8': 1478,
 '9': '599. The Dark Knight (tt0468569)',
 '10': '1245. The Lone Ranger (tt1210819)',
 '11': 'Drama',
 '12': 'Drama',
 '13': 'Peter Jackson',
 '14': 'Robert Rodriguez'}

# 15. Фильмы с каким актером принесли самые высокие кассовые сборы в 2012 году?

In [42]:
# find the answer
# make a copy & filter 2012 year films
question_15 = data.copy().query('release_year == "2012"')

# split the data into separate lines 
question_15['cast'] = question_15.cast.str.split('|')
# make separate rows for each actor calculate  all necessary values per each actor, select revenue &
# sort values, select the top one
question_15 = question_15.explode('cast').groupby('cast').sum().revenue.sort_values(ascending=False).index[0]
question_15

'Chris Hemsworth'

In [43]:
# edit the answers dictionary 
answers['15'] = question_15
answers

{'1': '723. Pirates of the Caribbean: On Stranger Tides  (tt1298650)',
 '2': '1157.  Gods and Generals  (tt0279111)',
 '3': '768.  Winnie the Pooh  (tt1449283)',
 '4': 110.0,
 '5': 107.0,
 '6': '239. Avatar  (tt0499549)',
 '7': '1245. The Lone Ranger  (tt1210819)',
 '8': 1478,
 '9': '599. The Dark Knight (tt0468569)',
 '10': '1245. The Lone Ranger (tt1210819)',
 '11': 'Drama',
 '12': 'Drama',
 '13': 'Peter Jackson',
 '14': 'Robert Rodriguez',
 '15': 'Chris Hemsworth'}

# 16. Какой актер снялся в большем количестве высокобюджетных фильмов?

In [44]:
# find the answer
# copy data & filter budget > mean(budget)
question_16 = data.copy().query('budget > budget.mean()')

# split the data into separate lines 
question_16['cast'] = question_16.cast.str.split('|')
# make separate rows for each actor calculate number of films per each actor & sort values
question_16 = question_16.explode('cast').groupby('cast').size().sort_values(ascending=False).index[0]
question_16

'Matt Damon'

In [45]:
# edit the answers dictionary 
answers['16'] = question_16
answers

{'1': '723. Pirates of the Caribbean: On Stranger Tides  (tt1298650)',
 '2': '1157.  Gods and Generals  (tt0279111)',
 '3': '768.  Winnie the Pooh  (tt1449283)',
 '4': 110.0,
 '5': 107.0,
 '6': '239. Avatar  (tt0499549)',
 '7': '1245. The Lone Ranger  (tt1210819)',
 '8': 1478,
 '9': '599. The Dark Knight (tt0468569)',
 '10': '1245. The Lone Ranger (tt1210819)',
 '11': 'Drama',
 '12': 'Drama',
 '13': 'Peter Jackson',
 '14': 'Robert Rodriguez',
 '15': 'Chris Hemsworth',
 '16': 'Matt Damon'}

# 17. В фильмах какого жанра больше всего снимался Nicolas Cage?

In [46]:
# find the answer
# copy the data & filter films with Nicols Cage
question_17 = data.copy().query('cast.str.contains("Nicolas Cage")', engine='python' )

# split the data into separate lines 
question_17['genres'] = question_17.genres.str.split('|')
# make separate row for each genre calculate number of films per each genre & sort values, select the top one
question_17 = question_17.explode('genres').groupby('genres').size().sort_values(ascending=False).index[0]
question_17

'Action'

In [47]:
# edit the answers dictionary 
answers['17'] = question_17
answers

{'1': '723. Pirates of the Caribbean: On Stranger Tides  (tt1298650)',
 '2': '1157.  Gods and Generals  (tt0279111)',
 '3': '768.  Winnie the Pooh  (tt1449283)',
 '4': 110.0,
 '5': 107.0,
 '6': '239. Avatar  (tt0499549)',
 '7': '1245. The Lone Ranger  (tt1210819)',
 '8': 1478,
 '9': '599. The Dark Knight (tt0468569)',
 '10': '1245. The Lone Ranger (tt1210819)',
 '11': 'Drama',
 '12': 'Drama',
 '13': 'Peter Jackson',
 '14': 'Robert Rodriguez',
 '15': 'Chris Hemsworth',
 '16': 'Matt Damon',
 '17': 'Action'}

# 18. Самый убыточный фильм от Paramount Pictures

In [48]:
# find the answer
# copy the data & filter Paramount Pictures films 
question_18 = data.copy().query('production_companies.str.contains("Paramount Pictures")', engine='python' )
# find film with the minimum profit
question_18 = question_18.query('profit == profit.min()')
print(question_18[['original_title','imdb_id']])

           original_title    imdb_id
925  K-19: The Widowmaker  tt0267626

In [49]:
# edit the answers dictionary 
answers['18'] = '925. K-19: The Widowmaker (tt0267626)'
answers

{'1': '723. Pirates of the Caribbean: On Stranger Tides  (tt1298650)',
 '2': '1157.  Gods and Generals  (tt0279111)',
 '3': '768.  Winnie the Pooh  (tt1449283)',
 '4': 110.0,
 '5': 107.0,
 '6': '239. Avatar  (tt0499549)',
 '7': '1245. The Lone Ranger  (tt1210819)',
 '8': 1478,
 '9': '599. The Dark Knight (tt0468569)',
 '10': '1245. The Lone Ranger (tt1210819)',
 '11': 'Drama',
 '12': 'Drama',
 '13': 'Peter Jackson',
 '14': 'Robert Rodriguez',
 '15': 'Chris Hemsworth',
 '16': 'Matt Damon',
 '17': 'Action',
 '18': '925. K-19: The Widowmaker (tt0267626)'}

# 19. Какой год стал самым успешным по суммарным кассовым сборам?

In [50]:
# find the answer
# copy the data, calculate sum of revenue per year, sort & select the top one
question_19 = data.copy().groupby('release_year').sum().revenue.sort_values(ascending=False).index[0]
question_19

2015

In [51]:
# edit the answers dictionary 
answers['19'] = question_19
answers

{'1': '723. Pirates of the Caribbean: On Stranger Tides  (tt1298650)',
 '2': '1157.  Gods and Generals  (tt0279111)',
 '3': '768.  Winnie the Pooh  (tt1449283)',
 '4': 110.0,
 '5': 107.0,
 '6': '239. Avatar  (tt0499549)',
 '7': '1245. The Lone Ranger  (tt1210819)',
 '8': 1478,
 '9': '599. The Dark Knight (tt0468569)',
 '10': '1245. The Lone Ranger (tt1210819)',
 '11': 'Drama',
 '12': 'Drama',
 '13': 'Peter Jackson',
 '14': 'Robert Rodriguez',
 '15': 'Chris Hemsworth',
 '16': 'Matt Damon',
 '17': 'Action',
 '18': '925. K-19: The Widowmaker (tt0267626)',
 '19': 2015}

# 20. Какой самый прибыльный год для студии Warner Bros?

In [52]:
# find the answer
# copy the data & filter Warner Bros films 
question_20 = data.copy().query('production_companies.str.contains("Warner Bros")', engine='python' )
# calculate sum of films per release year, sort & select the top one
question_20 = question_20.groupby('release_year').sum().profit.sort_values(ascending=False).index[0]

In [53]:
# edit the answers dictionary 
answers['20'] = question_20
answers

{'1': '723. Pirates of the Caribbean: On Stranger Tides  (tt1298650)',
 '2': '1157.  Gods and Generals  (tt0279111)',
 '3': '768.  Winnie the Pooh  (tt1449283)',
 '4': 110.0,
 '5': 107.0,
 '6': '239. Avatar  (tt0499549)',
 '7': '1245. The Lone Ranger  (tt1210819)',
 '8': 1478,
 '9': '599. The Dark Knight (tt0468569)',
 '10': '1245. The Lone Ranger (tt1210819)',
 '11': 'Drama',
 '12': 'Drama',
 '13': 'Peter Jackson',
 '14': 'Robert Rodriguez',
 '15': 'Chris Hemsworth',
 '16': 'Matt Damon',
 '17': 'Action',
 '18': '925. K-19: The Widowmaker (tt0267626)',
 '19': 2015,
 '20': 2014}

# 21. В каком месяце за все годы суммарно вышло больше всего фильмов?

In [54]:
# find the answer
question_21 = data.copy()
# group by month, calculate number of filmes per month & select the top one
question_21 = question_21.groupby('month').size().sort_values(ascending=False).index[0]

In [55]:
# edit the answers dictionary 
answers['21'] = question_21
answers

{'1': '723. Pirates of the Caribbean: On Stranger Tides  (tt1298650)',
 '2': '1157.  Gods and Generals  (tt0279111)',
 '3': '768.  Winnie the Pooh  (tt1449283)',
 '4': 110.0,
 '5': 107.0,
 '6': '239. Avatar  (tt0499549)',
 '7': '1245. The Lone Ranger  (tt1210819)',
 '8': 1478,
 '9': '599. The Dark Knight (tt0468569)',
 '10': '1245. The Lone Ranger (tt1210819)',
 '11': 'Drama',
 '12': 'Drama',
 '13': 'Peter Jackson',
 '14': 'Robert Rodriguez',
 '15': 'Chris Hemsworth',
 '16': 'Matt Damon',
 '17': 'Action',
 '18': '925. K-19: The Widowmaker (tt0267626)',
 '19': 2015,
 '20': 2014,
 '21': 9}

# 22. Сколько суммарно вышло фильмов летом? (за июнь, июль, август)

In [56]:
# find the answer
# copy the data 
question_22 = data.copy()
# filter 6,7,8 month & calculate sum of films
question_22 = question_22.query('month in ["6","7", "8"]')

In [57]:
# edit the answers dictionary 
answers['22'] = len(question_22)
answers

{'1': '723. Pirates of the Caribbean: On Stranger Tides  (tt1298650)',
 '2': '1157.  Gods and Generals  (tt0279111)',
 '3': '768.  Winnie the Pooh  (tt1449283)',
 '4': 110.0,
 '5': 107.0,
 '6': '239. Avatar  (tt0499549)',
 '7': '1245. The Lone Ranger  (tt1210819)',
 '8': 1478,
 '9': '599. The Dark Knight (tt0468569)',
 '10': '1245. The Lone Ranger (tt1210819)',
 '11': 'Drama',
 '12': 'Drama',
 '13': 'Peter Jackson',
 '14': 'Robert Rodriguez',
 '15': 'Chris Hemsworth',
 '16': 'Matt Damon',
 '17': 'Action',
 '18': '925. K-19: The Widowmaker (tt0267626)',
 '19': 2015,
 '20': 2014,
 '21': 9,
 '22': 450}

# 23. Для какого режиссера зима – самое продуктивное время года?

In [58]:
# find the answer
# copy the data & filter winter release dates
question_23 = data.copy().query('month in ["12", "1", "2"]')

# calculate number of films per director

# split the data into separate lines 
question_23['director'] = question_23.director.str.split('|')
# make separate rows for each director, calculate number of films per each director & sort values, select the top one
question_23 = question_23.explode('director').groupby('director').size().sort_values(ascending=False).index[0]
question_23

'Peter Jackson'

In [59]:
# edit the answers dictionary 
answers['23'] = question_23
answers

{'1': '723. Pirates of the Caribbean: On Stranger Tides  (tt1298650)',
 '2': '1157.  Gods and Generals  (tt0279111)',
 '3': '768.  Winnie the Pooh  (tt1449283)',
 '4': 110.0,
 '5': 107.0,
 '6': '239. Avatar  (tt0499549)',
 '7': '1245. The Lone Ranger  (tt1210819)',
 '8': 1478,
 '9': '599. The Dark Knight (tt0468569)',
 '10': '1245. The Lone Ranger (tt1210819)',
 '11': 'Drama',
 '12': 'Drama',
 '13': 'Peter Jackson',
 '14': 'Robert Rodriguez',
 '15': 'Chris Hemsworth',
 '16': 'Matt Damon',
 '17': 'Action',
 '18': '925. K-19: The Widowmaker (tt0267626)',
 '19': 2015,
 '20': 2014,
 '21': 9,
 '22': 450,
 '23': 'Peter Jackson'}

# 24. Какая студия дает самые длинные названия своим фильмам по количеству символов?

In [60]:
# find the answer
question_24 = data.copy()
# select company which released film with the longest name
question_24 = question_24.iloc[question_24["original_title"].apply(len).idxmax(),:].production_companies
question_24

'Twentieth Century Fox Film Corporation|Four By Two Productions'

In [61]:
# edit the answers dictionary 
answers['24'] = question_24.split("|")[1]
answers

{'1': '723. Pirates of the Caribbean: On Stranger Tides  (tt1298650)',
 '2': '1157.  Gods and Generals  (tt0279111)',
 '3': '768.  Winnie the Pooh  (tt1449283)',
 '4': 110.0,
 '5': 107.0,
 '6': '239. Avatar  (tt0499549)',
 '7': '1245. The Lone Ranger  (tt1210819)',
 '8': 1478,
 '9': '599. The Dark Knight (tt0468569)',
 '10': '1245. The Lone Ranger (tt1210819)',
 '11': 'Drama',
 '12': 'Drama',
 '13': 'Peter Jackson',
 '14': 'Robert Rodriguez',
 '15': 'Chris Hemsworth',
 '16': 'Matt Damon',
 '17': 'Action',
 '18': '925. K-19: The Widowmaker (tt0267626)',
 '19': 2015,
 '20': 2014,
 '21': 9,
 '22': 450,
 '23': 'Peter Jackson',
 '24': 'Four By Two Productions'}

# 25. Описание фильмов какой студии в среднем самые длинные по количеству слов?

In [62]:
# find the answer
question_25 = data.copy()
# calculate review length
question_25['rev_len'] = question_25.overview.apply(len)

# split the data into separate lines 
question_25['production_companies'] = question_25.production_companies.str.split('|')
# make separate rows for each prod company, calculate mean length per company, sort & select the top one
question_25 = question_25.explode('production_companies').groupby('production_companies').rev_len.mean().sort_values(ascending=False).index[0]
question_25

'Midnight Picture Show'

In [63]:
# edit the answers dictionary 
answers['25'] = question_25
answers

{'1': '723. Pirates of the Caribbean: On Stranger Tides  (tt1298650)',
 '2': '1157.  Gods and Generals  (tt0279111)',
 '3': '768.  Winnie the Pooh  (tt1449283)',
 '4': 110.0,
 '5': 107.0,
 '6': '239. Avatar  (tt0499549)',
 '7': '1245. The Lone Ranger  (tt1210819)',
 '8': 1478,
 '9': '599. The Dark Knight (tt0468569)',
 '10': '1245. The Lone Ranger (tt1210819)',
 '11': 'Drama',
 '12': 'Drama',
 '13': 'Peter Jackson',
 '14': 'Robert Rodriguez',
 '15': 'Chris Hemsworth',
 '16': 'Matt Damon',
 '17': 'Action',
 '18': '925. K-19: The Widowmaker (tt0267626)',
 '19': 2015,
 '20': 2014,
 '21': 9,
 '22': 450,
 '23': 'Peter Jackson',
 '24': 'Four By Two Productions',
 '25': 'Midnight Picture Show'}

# 26. Какие фильмы входят в 1 процент лучших по рейтингу? 
по vote_average

In [64]:
# find the answer
# the first way
question_26 = data.copy()
# sort all the needed columns in needed way
question_26 = question_26[['vote_average','original_title']].sort_values(by='vote_average', ascending=False)
# filter 1% of films with the highest vote_average
question_26.iloc[0:int(round(len(question_26)*0.01, 0))]

      vote_average                                 original_title
599            8.1                                The Dark Knight
118            8.0                                   Interstellar
125            8.0                             The Imitation Game
9              8.0                                     Inside Out
34             8.0                                           Room
1183           7.9                        The Wolf of Wall Street
128            7.9                                      Gone Girl
1191           7.9                               12 Years a Slave
119            7.9                        Guardians of the Galaxy
1081           7.9  The Lord of the Rings: The Return of the King
1800           7.9                                        Memento
370            7.9                                      Inception
872            7.9                                    The Pianist
138            7.9                       The Grand Budapest Hotel
1188           7.8                                            Her
28             7.8                                      Spotlight
124            7.8                                     Big Hero 6
177            7.8                         The Fault in Our Stars
863            7.8          The Lord of the Rings: The Two Towers

In [65]:
# find the answer
# the second way
question_26_2 = data.copy()
# sort all the needed columns in needed way, could be skipped
question_26_2 = question_26_2[['vote_average','original_title']].sort_values(by='vote_average', ascending=False)
# filter films which has vote_average > than 99 quantile
question_26_2 = question_26_2[question_26_2.vote_average.quantile(.99) < question_26_2.vote_average]

question_26_2

      vote_average                                 original_title
599            8.1                                The Dark Knight
118            8.0                                   Interstellar
125            8.0                             The Imitation Game
9              8.0                                     Inside Out
34             8.0                                           Room
1183           7.9                        The Wolf of Wall Street
128            7.9                                      Gone Girl
1191           7.9                               12 Years a Slave
119            7.9                        Guardians of the Galaxy
1081           7.9  The Lord of the Rings: The Return of the King
1800           7.9                                        Memento
370            7.9                                      Inception
872            7.9                                    The Pianist
138            7.9                       The Grand Budapest Hotel

In [66]:
# edit the answers dictionary 
#answers['26'] = question_26_2.original_title.tolist()
answers['26'] = 'Inside Out, The Dark Knight, 12 Years a Slave'
answers

{'1': '723. Pirates of the Caribbean: On Stranger Tides  (tt1298650)',
 '2': '1157.  Gods and Generals  (tt0279111)',
 '3': '768.  Winnie the Pooh  (tt1449283)',
 '4': 110.0,
 '5': 107.0,
 '6': '239. Avatar  (tt0499549)',
 '7': '1245. The Lone Ranger  (tt1210819)',
 '8': 1478,
 '9': '599. The Dark Knight (tt0468569)',
 '10': '1245. The Lone Ranger (tt1210819)',
 '11': 'Drama',
 '12': 'Drama',
 '13': 'Peter Jackson',
 '14': 'Robert Rodriguez',
 '15': 'Chris Hemsworth',
 '16': 'Matt Damon',
 '17': 'Action',
 '18': '925. K-19: The Widowmaker (tt0267626)',
 '19': 2015,
 '20': 2014,
 '21': 9,
 '22': 450,
 '23': 'Peter Jackson',
 '24': 'Four By Two Productions',
 '25': 'Midnight Picture Show',
 '26': 'Inside Out, The Dark Knight, 12 Years a Slave'}

# 27. Какие актеры чаще всего снимаются в одном фильме вместе?

In [67]:
# find the answer
question_27 = data.copy()
# split actors into separate lines
question_27['cast'] = question_27.cast.str.split('|')
question_27 = question_27.explode('cast')
# group by films and prepare all possible combinations for each in separate columns in a sorted order
question_27 = question_27.groupby('original_title').cast.apply(lambda x: pd.DataFrame(list(combinations(sorted(x),2)))).reset_index(level=1, drop=True).reset_index()
# rename columns
question_27.columns=['original_title','act1','act2']
# group all actors together & calculate, sort them
question_27.groupby(['act1','act2']).size().sort_values(ascending=False)

act1                  act2
Daniel Radcliffe      Emma Watson                 8
                      Rupert Grint                8
Emma Watson           Rupert Grint                8
Ben Stiller           Owen Wilson                 6
Helena Bonham Carter  Johnny Depp                 6
                                                 ..
Jane Fonda            Michael Vartan              1
                      Jennifer Lopez              1
Jane Alexander        Ty Burrell                  1
                      Robert Downey Jr.           1
50 Cent               Adewale Akinnuoye-Agbaje    1
Length: 17993, dtype: int64

ВАРИАНТ 2

In [68]:
# find the answer
question_27_2 = data.copy()
# prepare the new column (split the data and apply combinations)
question_27_2['cast_comb'] = question_27_2.cast.str.split('|').apply(lambda x: tuple(combinations(sorted(x),2)))
# calculate number of pairs in the whole dataset (select values in the new column and bind them into one tuple) & 
# select most common
Counter(question_27_2.cast_comb.values.sum()).most_common(5)

[(('Daniel Radcliffe', 'Emma Watson'), 8),
 (('Daniel Radcliffe', 'Rupert Grint'), 8),
 (('Emma Watson', 'Rupert Grint'), 8),
 (('Ben Stiller', 'Owen Wilson'), 6),
 (('Helena Bonham Carter', 'Johnny Depp'), 6)]

In [69]:
# edit the answers dictionary 
answers['27'] = 'Daniel Radcliffe & Rupert Grint'
answers

{'1': '723. Pirates of the Caribbean: On Stranger Tides  (tt1298650)',
 '2': '1157.  Gods and Generals  (tt0279111)',
 '3': '768.  Winnie the Pooh  (tt1449283)',
 '4': 110.0,
 '5': 107.0,
 '6': '239. Avatar  (tt0499549)',
 '7': '1245. The Lone Ranger  (tt1210819)',
 '8': 1478,
 '9': '599. The Dark Knight (tt0468569)',
 '10': '1245. The Lone Ranger (tt1210819)',
 '11': 'Drama',
 '12': 'Drama',
 '13': 'Peter Jackson',
 '14': 'Robert Rodriguez',
 '15': 'Chris Hemsworth',
 '16': 'Matt Damon',
 '17': 'Action',
 '18': '925. K-19: The Widowmaker (tt0267626)',
 '19': 2015,
 '20': 2014,
 '21': 9,
 '22': 450,
 '23': 'Peter Jackson',
 '24': 'Four By Two Productions',
 '25': 'Midnight Picture Show',
 '26': 'Inside Out, The Dark Knight, 12 Years a Slave',
 '27': 'Daniel Radcliffe & Rupert Grint'}

# Submission

In [70]:
# в конце можно посмотреть свои ответы к каждому вопросу
answers

{'1': '723. Pirates of the Caribbean: On Stranger Tides  (tt1298650)',
 '2': '1157.  Gods and Generals  (tt0279111)',
 '3': '768.  Winnie the Pooh  (tt1449283)',
 '4': 110.0,
 '5': 107.0,
 '6': '239. Avatar  (tt0499549)',
 '7': '1245. The Lone Ranger  (tt1210819)',
 '8': 1478,
 '9': '599. The Dark Knight (tt0468569)',
 '10': '1245. The Lone Ranger (tt1210819)',
 '11': 'Drama',
 '12': 'Drama',
 '13': 'Peter Jackson',
 '14': 'Robert Rodriguez',
 '15': 'Chris Hemsworth',
 '16': 'Matt Damon',
 '17': 'Action',
 '18': '925. K-19: The Widowmaker (tt0267626)',
 '19': 2015,
 '20': 2014,
 '21': 9,
 '22': 450,
 '23': 'Peter Jackson',
 '24': 'Four By Two Productions',
 '25': 'Midnight Picture Show',
 '26': 'Inside Out, The Dark Knight, 12 Years a Slave',
 '27': 'Daniel Radcliffe & Rupert Grint'}

In [71]:
# и убедиться что ни чего не пропустил)
len(answers)

27